.elementor-12 .elementor-element.elementor-element-7bccc17 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-f33f13c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-5efcc89 {
    padding: 87px 0px 160px 0px;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-a99b3c4.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-12 .elementor-element.elementor-element-a99b3c4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-12 .elementor-element.elementor-element-a99b3c4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-12 .elementor-element.elementor-element-b8b5309 {
    width: 460px;
    max-width: 460px;
}

.elementor-12 .elementor-element.elementor-element-97c1e70>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 35px;
}

.elementor-12 .elementor-element.elementor-element-bafa118>.elementor-container {
    min-height: 69vh;
}

.elementor-12 .elementor-element.elementor-element-bafa118 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-d3b231e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-e5cc6f5 {
    margin-top: 0%;
    margin-bottom: 2%;
    padding: 167px 0px 77px 0px;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-3b04035.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-12 .elementor-element.elementor-element-3b04035.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-12 .elementor-element.elementor-element-3b04035>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-e622707 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 85px 0px 85px 0px;
}

.elementor-12 .elementor-element.elementor-element-e622707>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-221d95f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-12 .elementor-element.elementor-element-524453b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-524453b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-524453b.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-524453b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-12 .elementor-element.elementor-element-524453b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #101010;
}

.elementor-12 .elementor-element.elementor-element-524453b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 13% 13% 13% 13%;
}

.elementor-12 .elementor-element.elementor-element-524453b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-f51dac3>.elementor-widget-container {
    margin: -4px 0px 0px 0px;
    padding: 0px 0px 34px 0px;
}

.elementor-12 .elementor-element.elementor-element-f51dac3 {
    width: 390px;
    max-width: 390px;
}

.elementor-12 .elementor-element.elementor-element-fbf742f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.elementor-12 .elementor-element.elementor-element-fbf742f {
    width: 390px;
    max-width: 390px;
}

.elementor-12 .elementor-element.elementor-element-8738078 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 137px 0px 169px 0px;
}

.elementor-12 .elementor-element.elementor-element-479d78d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-47aee37>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 6px 0px;
}

.elementor-12 .elementor-element.elementor-element-47aee37 {
    width: 300px;
    max-width: 300px;
}

.elementor-12 .elementor-element.elementor-element-36134eb {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-8f3dadd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-f4c5e7d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 132px 0px 149px 0px;
}

.elementor-12 .elementor-element.elementor-element-d53ffb0>.elementor-element-populated {
    text-align: center;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-2acb26c>.elementor-widget-container {
    margin: 0px 0px -4px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-a9a76f9>.elementor-widget-container {
    padding: 21px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-fe21ed9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-21e6cd7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-12 .elementor-element.elementor-element-5efcc89 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 135px 0px 150px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-b8b5309 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-97c1e70>.elementor-element-populated {
        padding: 70px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-bafa118>.elementor-container {
        min-height: 69vh;
    }
    .elementor-12 .elementor-element.elementor-element-e5cc6f5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 139px 0px 95px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-3b04035.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-12 .elementor-element.elementor-element-3b04035>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-e622707 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 85px 0px 85px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-221d95f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-524453b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 66px 55px 70px 55px;
    }
    .elementor-12 .elementor-element.elementor-element-f51dac3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 30px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-f51dac3 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-fbf742f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-fbf742f {
        width: 100%;
        max-width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-8738078 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 114px 0px 145px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-f4c5e7d {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 112px 0px 125px 0px;
    }
}

@media(max-width:767px) {
    .elementor-12 .elementor-element.elementor-element-5efcc89 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 114px 0px 128px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-bafa118>.elementor-container {
        min-height: 69vh;
    }
    .elementor-12 .elementor-element.elementor-element-bafa118 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-d3b231e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-e5cc6f5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 118px 0px 74px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-3b04035.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-12 .elementor-element.elementor-element-3b04035>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-e622707 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 85px 0px 85px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-524453b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 47px 20px 60px 20px;
    }
    .elementor-12 .elementor-element.elementor-element-f51dac3>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-fbf742f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-f4c5e7d {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 93px 0px 98px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-d53ffb0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-2acb26c>.elementor-widget-container {
        margin: 0px 0px -34px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-a99b3c4 {
        width: 43%;
    }
    .elementor-12 .elementor-element.elementor-element-97c1e70 {
        width: 57%;
    }
    .elementor-12 .elementor-element.elementor-element-221d95f {
        width: 58%;
    }
    .elementor-12 .elementor-element.elementor-element-524453b {
        width: 42%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-a99b3c4 {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-97c1e70 {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-221d95f {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-524453b {
        width: 100%;
    }
}